*.lock
*.DS_Store
*.swp
*.out
*.class
/build
node_modules
.idea
.project
/dist
/bower_components
.settings
.classpath
.destination.properties
.project
WebContent/.idea/
WebContent/zppm_kanban/.idea/
node_modules/
WebContent/
/nbproject/private/
project.xml
project.properties
