/* Custom Styles  */
.condList .sapMLIB {
    border-bottom: 0px !important;
}

.noteForm .sapUiFormResGridCont {
    padding-bottom: 0px;
}

.noteForm .sapUiRrPtb {
    border-width: 0px;
}

.notModifiableValue input{
    color: red !important;
}


